body {
    margin: 0;
    padding: 0;
    background-color: azure;
}

#NavigationDiv {
    width: 100%;
    height: 7vh;
    position: fixed;
    text-align: center;
    background-color: dimgray;
}

#NavigationDiv span {
    color: whitesmoke;
    position: relative;
    scale: 160%;
    margin-top: 1%;
    margin-left: 3%;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

#MainDiv {
    background-color: #feff9c;
    border-radius: 0px;
    box-shadow: 10px 10px 5px #bbbc83;
    border-style: none;
    width: 75%;
    height: 90%;
    transform: translateX(15%);
    margin-top: 7.5vmin;
    position: absolute;
}

#CenterDiv {
    display: flex;
    justify-content: center;
}

#Title {
    width: 32.15%;
    margin-top: 4%;
    scale: 300%;
    text-align: center;
    outline: none;
    border-style: none;
    background-color: #feff9c;
}

#EditableText {
    outline: none;
    margin-top: 2%;
}

@media screen and (max-width: 720px) {
    #NavigationDiv {
        height: 60px;
    }

    #MainDiv {
        margin-top: 20%;
    }

    #Title {
        width: 48.15%;
        scale: 200%;
    }

    #NavigationDiv span {
        scale: 130%;
        margin-left: 10%;
        margin-top: 4%;
    }
}

@media screen and (max-width: 500px) {
    #Title {
        width: 120.15%;
        scale: 100%;
    }
    
}

@media screen and (max-height: 460px) {
    #NavigationDiv {
        height: 50px;
    }

    #MainDiv {
        margin-top: 5%;
    }
    
}

@media screen and (max-height: 460px) and (max-width: 720px) {
    #MainDiv {
        margin-top: 15%;
    }
}